
!.vscode/extensions.json
# Editor directories and files
# Logs
*.env
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.cursor/
.idea
.vscode/*
backend/.env
bun.lockb
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
